.redAsterisk {
    color:#CE2829;
}


.form {
    /* width: 40rem;  */
    font-family: 'Barlow', sans-serif;
    font-size:1.2rem;
    color: black;
    display: block;
    @media screen and (max-width: 768px) {
        font-size: 0.8rem; 
        max-width: 100%; 
      }
    
}

.form p{
font-size:1.05rem;
font-weight:60;
font-family: 'Barlow', sans-serif;

}

.form hr {
    margin-top:2rem;
    margin-bottom: 2rem;
}
    

.form label {
    font-size: 1.5rem;
}

.topContainer {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.topLabelContainer {
    display: flex;
    justify-content: space-between;
}

.radioColumn {
    display: flex;
    flex-direction: column;
    flex-basis: flex-start;
}

.radioColumn label {
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: bold;
}

.checkboxContainer {
margin: 1.2rem 0 1.2rem 0;
display: flex;
align-items: flex-start;
align-content: flex-start;
flex-wrap: wrap;
gap: 3px;
font-size: 1.1rem;
}

.checkboxContainer label {
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: 'Barlow', sans-serif;
    margin-left: 10px;
}

.checkboxColumn {
    flex: 0 1 33%;
    margin-bottom: 10px;
    text-align: left;
}

.orderNote {
    margin-bottom: 15px;
}

.orderNote label {
    display: block;
    margin-bottom: 5px;
    
}

.orderNote input {
    width: 100%;
    padding: 8px;
    border: gray solid 1px;
    border-radius: 3px;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
    margin-top: 3rem;
    @media screen and (max-width: 768px) {
        font-size: 0.8rem; /* Decrease font size on smaller screens */
        max-width: 100%; /* Allow content to take the full width on smaller screens */
        flex-direction: column;
        align-items: center;
      }
    
}

.quantitySelector {
    display: 'block'; 
    align-items : 'center';
}

.buttonL {
    width: 40px;
    height: 40px;
    border-radius: 6px 0px 0px 6px;
    background: #FDC913;
    border: none;
    margin-right: 15px;

}

.buttonR {
    width: 40px;
    height: 40px;
    border-radius: 0px 6px 6px 0px;
    background: #FDC913;
    border: none;
    margin-left: 15px;
}
.confirmationBox {
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid gray;
    border-radius: 7px;
    padding: 3.5rem;
}

.confirmationBox p {
    background-color: transparent;
    font-size: 1.3rem;
    font-family: 'Barlow', sans-serif;
}


.confirmationBox h1 {
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 1rem;    
}

.orderSumBox {
    display: flex;
    justify-content: space-between;
}

.orderSumBox2 {
    display: flex;
    justify-content: space-between;
    color: #CE2829;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 1rem;
    @media screen and (max-width: 768px) {
        font-size: 0.8rem; /* Decrease font size on smaller screens */
        max-width: 100%; /* Allow content to take the full width on smaller screens */
        justify-content: center;
      }
    
    
}

/*-------------------------------------------------------------------------------*/

.checkboxElement {
    display: flex;
    align-items: center;
}

.checkboxElement label {
    cursor: pointer;
    display: flex;
}

.checkboxElement input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkboxElement label::before {
    content: '';
    width: 2em;
    height: 2em;
    border-radius: .15em;
    margin-right: .5em;
    border: none;
    background-color:#FAF7F2;
    
}

.checkboxElement label:hover::before,
.checkboxElement input[type='checkbox']:hover + label::before {
    background-color: #fcdf9d;
}


.checkboxElement input[type='checkbox']:disabled + label,
.checkboxElement input[type='checkbox']:disabled {
    color: #aaa;
    cursor: default;
}

.checkboxElement input[type='checkbox']:checked + label::before {
    content: '✔';
    background-color: #FDC913;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.checkboxElement input[type='checkbox']:disabled + label::before {
    background-color: #ccc;
    border-color: #999;
}
